<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myradio">

    <uses-permission android:name="android.permission.INTERNET" />


    <!-- READ_PHONE_STATE permission to access phone state to listen to events like incoming calls so you can stop
     the audio while a call is in progress. -->
<!-- Is not used now.
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.MyRadio">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MyRadio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".model.PlayerService" android:exported="false"/>
    </application>

</manifest>